In [1]:
import pandas as pd

def load_data(filename='train.csv'):
    df = pd.read_csv(filename)
    return df

train = load_data()
test = load_data('test.csv')

train['train_flag'] = 1
test['train_flag'] = 0

data = pd.concat([train, test], ignore_index=True)

In [2]:
data.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare,train_flag
count,1309.000000,891.000000,1309.000000,1046.000000,1309.000000,1309.000000,1308.000000,1309.000000
mean,655.000000,0.383838,2.294882,29.881138,0.498854,0.385027,33.295479,0.680672
std,378.020061,0.486592,0.837836,14.413493,1.041658,0.865560,51.758668,0.466394
min,1.000000,0.000000,1.000000,0.170000,0.000000,0.000000,0.000000,0.000000
25%,328.000000,0.000000,2.000000,21.000000,0.000000,0.000000,7.895800,0.000000
50%,655.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200,1.000000
75%,982.000000,1.000000,3.000000,39.000000,1.000000,0.000000,31.275000,1.000000
max,1309.000000,1.000000,3.000000,80.000000,8.000000,9.000000,512.329200,1.000000

In [2]:
"""Removing the columns we dont want"""
#inplace true modifies the original data
data.drop("Name", axis=1, inplace=True)
data.drop("Ticket", axis=1, inplace=True)
data.drop("Cabin", axis=1, inplace=True)

In [3]:
data.drop("PassengerId", axis=1, inplace=True)

In [4]:
#filling the missing age vals w/ 
age_median = data['Age'].median()
data['Age'].fillna(age_median, inplace=True)

/tmp/ipykernel_126750/1143429590.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Age'].fillna(age_median, inplace=True)

In [5]:
#binning th4 age data since the model better categories than inf num stages
bins = [0, 13, 19, 30, 50, 100]
labels = ['child', 'Teen', 'Young', 'Adult', 'Senior']
data['Age_Group'] = pd.cut(data['Age'], bins=bins, labels=labels)

In [6]:
#removing the age column
data.drop("Age", axis=1, inplace=True)

In [8]:
#changing the survived from float ot int
train["Survived"] = train["Survived"].astype(int)
bins = [0, 13, 19, 30, 50, 100]
labels = ['child', 'Teen', 'Young', 'Adult', 'Senior']
train['Age_Group'] = pd.cut(train['Age'], bins=bins, labels=labels)

In [9]:
train.drop("PassengerId", axis=1, inplace=True)
train.drop("Name", axis=1, inplace=True)
train.drop("Ticket", axis=1, inplace=True)
train.drop("Cabin", axis=1, inplace=True)

In [10]:
age_median = data['Age'].median()
data['Age'].fillna(age_median, inplace=True)

KeyError: 'Age'